.App {
  height: 100vh;
  width:100%;
  background-color: #616161;
  color:whitesmoke;
}

.OpeningTimes{
  height: 80vh;
  width:100%;
  background-color: #616161;
  color:whitesmoke;
}

.QaCinema{
  width: auto;
  height: 40vh;
  max-height: 40vh;
  margin: auto; 
  display: block;
}
.header{
  text-align: center;
}

.carousel-img{
  width: auto;
  height: 70vh;
  max-height: 70vh;
  margin: auto; 
  display: block;
  }

  footer {
    background-color: #212429;
    font-family: "Rubik", sans-serif;
    color: whitesmoke;
    height: 20vh;
    text-align: center;
}

  .bulletless-lists {
  list-style-type: none;
  text-align: center;
  padding: 0; 
  margin: 0; 
}
.newbody {
  display: grid;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  font: 500 100%/1.5 system-ui;
}
.newimg {
  height: 200px;
  width: 200px;
}
