.App {
  height: 100%;
  width:100%;
  background-color: #616161;
  color:whitesmoke;
}

.OpeningTimes{
  height: 80vh;
  width:100%;
  background-color: #616161;
  color:whitesmoke;
}

.QaCinema{
  width: auto;
  height: 40vh;
  max-height: 40vh;
  margin: auto; 
  display: block;
}
.header{
  text-align: center;
}

.carousel-img{
  width: auto;
  height: 70vh;
  max-height: 70vh;
  margin: auto; 
  display: block;
  }

  /* style the form*/
 .form-container {
  border-radius: 5px;
  background-color: #212429;
  padding: 20px;
}
.container-contact{
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"], input[type="email"], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

  footer {
    background-color: #212429;
    font-family: "Rubik", sans-serif;
    color: whitesmoke;
    height: 20vh;
    text-align: center;
    text-decoration: none;
}

  .bulletless-lists {
  list-style-type: none;
  text-align: center;
  padding: 0; 
  margin: 0; 
}

.newbody {
  display: grid;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  font: 500 100%/1.5 system-ui;
}
.newimg {
  height: 200px;
  width: 200px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.about-image {
  max-width: 100%;
  height: 5%;
  max-height: 30vh;
  border-radius: 5px;
}

.social-icon{
  width: 32px;
  height: 32px; 
  border-radius: 50%; 
  font-size: 13px; 
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #8f8f8f;
  transition: all 0.35s ease-in-out;
}

.social-icon:hover {
  background: #212429;

}
.text-gallery{
background-color: rgb(0, 0, 0);
}
.footerLink {
  text-decoration: none;
}